<div class="viziwyg-page login-page">
  <form class="login-form form">

    <!-- <img src="assets/img/logo.svg"> -->

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill" [floatLabel]="'auto'">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <div class="form-actions">
      <a mat-raised-button color="primary">Login</a>
      <a mat-button color="primary">Create Account</a>
    </div>
  </form>
</div>
