<div class="viziwyg-page dashboard-page">

  <div class="dashboard">
    <div class="dashboard__header">
      <div class="welcome-msg">
        Welcome, John
      </div>

      <div class="header__action-bar">
        <div class="action-bar__action">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="action-bar__action">
          <button mat-icon-button>
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dashboard__body"></div>
  </div>

</div>
